.new_buildings {
    .toggler {
        margin: 20px auto 0;
    }
    

}
@import '../../../../styles/mixin';


@include xl {
    .card {
        margin-right: 40px;
    }
}

@include lg {
    .card {
        margin-right: 40px;
    }
}

@include md {
    .card {
        margin-right:16px;
    }
}

@include sm {
    .card {
        margin-right: 16px;
    }
}

.sliderContainer {
    margin-top: 40px;
    height: 460px;

    @include sm {
        height: 330px;
    }
}