@import "../../../styles/varrible";
@import "../../../styles/mixin";

.input {
    width: 100%;
    margin-bottom: 16px;
    border: 1px solid $color-border;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.12);
    padding: 10px 12px;
    border-radius: 10px;
    color: $color-placeholder;
    line-height: 18px;
    box-sizing: border-box;
    @include small-text;
    position: relative;
    z-index: 1;

    &_container {
        position: relative;
        width: 100%;
    }

    &_error_text {
        position: absolute;
        bottom: 11px;
        left: 10px;
        z-index: 3;
        border-radius: 10px;
        padding: 1px 6px 0px 6px;
        background: #EC5A5A;
        color: #FFF;
        font-size: 11px;
        font-family: Montserrat;
        font-weight: 700;
        box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.12);
    }

    &:focus {
        z-index: 2;
        border-color: $color-submit;
        font-weight: 700;
        outline: none
    }

    &_inline {
        margin: 0;
        border-radius: unset;

        &__rounded {
            border-radius: 100px 0px 0px 100px;
            margin-right: -2px
        }

        &_container {
            .input_error_text {
                bottom: -2px;
                left: 12px;
            }
        }
    }

    &:focus {
        border: 1px solid #DDDE70;
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.12);
    }
}
@include xl {
    .input {
        max-width: 341px;

        &_inline {
            max-width: 220px;
        }
    }
}

@include lg {
    .input {
        max-width: 306px;

        &_inline {
            max-width: 220px;
        }
    }
}

@include md {
    .input {
        max-width: 100%;

        &_inline {
            max-width: 100%;
        }
    }
}

@include sm {
    .input {
        max-width: 100%;

        &_inline {
            max-width: 100%;
        }
    }
}