@import "../../../styles/varrible";
@import "../../../styles/mixin";

.input {
    width: 100%;
    margin-bottom: 16px;
    border: 1px solid $color-border;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.12);
    padding: 10px 12px;
    border-radius: 10px;
    color: $color-placeholder;
    line-height: 18px;
    box-sizing: border-box;
    @include small-text;

    &_inline {
        margin: 0;
        border-radius: unset;

        &__first {
            border-radius: 100px 0px 0px 100px;
        }
    }

    &:focus {
        border: 1px solid #DDDE70;
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.12);
    }
}
@include xl {
    .input {
        max-width: 341px;

        &_inline {
            max-width: 220px;
        }
    }
}

@include lg {
    .input {
        max-width: 306px;

        &_inline {
            max-width: 220px;
        }
    }
}

@include md {
    .input {
        max-width: 100%;

        &_inline {
            max-width: 100%;
        }
    }
}

@include sm {
    .input {
        max-width: 100%;

        &_inline {
            max-width: 100%;
        }
    }
}