@import "../../../../styles/varrible";


.about_us {

	&_image {
		margin: 40px 0;
		width: 1024px;
		height: 372px;
	}
}


.medium_text {
	margin: 30px auto 0;
	width: 750px;

	&__description {
		width: 843px;
		margin: 0 auto;
		text-align: left;
		line-height: 180%;
	}
}


.logo__colored {
	margin-top: 80px;
	display: block;

	svg > path {
		fill: $color-submit;
	}
}

.section_header {
	margin-top: 11px;
}