@import "../../../styles/varrible";
@import "../../../styles/mixin";

.button {
    height: auto;
    border: 1px solid $color-primary;
    padding: 12px 36px;
    background: $color-primary;
    color: $color-light;
    border-radius: 100px;
    @include button-text;
    cursor: pointer;

    &:hover {
        color: $color-submit;
    }

    &_active {
        background: $color-light;
        color: $color-primary;


        &:hover {
            background: $color-primary;
        }
    }

    &_submit {
        background: $color-submit;
        color: $color-primary;
        border: 1px solid $color-submit;

        &:hover {
            background: $color-primary;
            color: $color-submit;
        }
    }


    a {
        text-decoration: none;
        color: inherit;
    }

    &__transparent {
        background-color: transparent;
        border: 1px solid $color-primary;
        color: $color-primary;
    }

    &__recall {
        background: $color-border;
        color: $color-primary;
        display: flex;
    }

    &__whatsapp {
        background: #4EAB15;
        color: $color-light;
        display: flex;
    }

    &__link {
        display: inline-block;
        color: $color-light;
        text-decoration: unset;
    }
}

