@import "../../../../styles/varrible";
@import "../../../../styles/mixin";

.post {

    &_image_item {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &_big_images {
        border-radius: 24px;
    }

    &_small_images {
        display: flex;
        flex-wrap: wrap;

        img {
            margin: 0 0 40px 40px;
            border-radius: 24px;

            &:nth-child(3) {
                margin-bottom: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &_information_list {
        display: flex;
        margin: 20px 0;

        &_item {
            display: flex;

            svg {
                margin-right: 12px;
            }

            @include medium-text;
            font-weight: 700;
            color: $color-primary;
            margin-right: 40px;
        }
    }

    &_text_list {
        margin: 30px 0;

        li {
            margin-top: 10px;

            &:first-child {
                margin-top: 0;
            }

            &:before {
                content: "\2022";
                color: $color-submit;
                font-weight: bold;
                display: inline-block;
                width: 5px;
                margin-right: 16px;
            }
        }
    }

    &_medium-text {
        margin-bottom: 30px;
    }

    &_toggler {
        margin: 44px 0 19px 0;
    }

    &_content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 40px;

        .person_card {
            border: 1px solid #E5E5E5;
            border-radius: 24px;
            box-sizing: border-box;

            .buttons_div {
                display: flex;

                button {
                    margin-right: 16px;
                }
            }

            &_item {
                margin-top: 16px;
                display: flex;

                svg {
                    margin-right: 16px;
                }

                &:first-child {
                    margin-top: 0;
                }
            }

            .button {
                width: 100%
            }
        }
    }
}


@include xl {
    .post {
        &_big_images {
            width: 652px;
            height: 492px;
        }

        .text_block {
            width: 843px;
        }

        &_small_images {
            width: 692px;

            img {
                width: 306px;
                height: 226px;
            }
        }

        .buttons_div {
            margin: 28px 0;
        }

        .person_card {
            width: 461px;
            padding: 40px;
        }

        .button {
            margin-top: 28px;
        }
    }
}

@include lg {
    .post {
        &_big_images {
            width: 492px;
            height: 492px;
        }

        .text_block {
            width: 600px;
        }

        &_small_images {
            width: 448px;

            img {
                width: 204px;
                height: 226px;
                margin: 0 0 40px 20px;
            }
        }

        .buttons_div {
            margin: 28px 0;
        }

        .person_card {
            width: 461px;
            padding: 40px;
        }

        .button {
            margin-top: 28px;
        }
    }
}

@include md {
    .post {
        &_toggler {
            margin: 20px 0 19px 0;
        }

        &_image_item {
            margin-bottom: -20px;
        }

        &_big_images {
            width: 384px;
            height: 280px;
        }

        .text_block {
            width: 100%;
        }

        &_small_images {
            width: 290px;

            img {
                width: 124px;
                height: 124px;
                margin: 0 0 16px 16px;
                border-radius: 16px;

                &:last-child {
                    margin-right: 0px;
                }
            }
        }

        .buttons_div {
            margin: 28px 0;
        }

        .person_card {
            width: 380px;
            padding: 40px;
            margin-top: 16px;
        }

        .button {
            margin-top: 20px;
        }
    }
}

@include sm {
    .post {
        &_toggler {
            margin: 20px 0 19px 0;
        }

        &_image_item {
            flex-wrap: wrap;
            margin-right: 30px;
            margin-bottom: -20px;
        }

        &_big_images {
            width: 372px;
            height: 280px;
        }

        .text_block {
            width: 100%;
        }

        &_small_images {
            width: 100%;

            img {
                width: 81px;
                height: 60px;
                margin: 16px 16px 0 0;
                border-radius: 16px;

                &:last-child {
                    margin-right: 0px;
                }
            }
        }

        .buttons_div {
            margin: 16px 0;
        }

        .person_content {
            width: 100%;
        }

        .person_card {
            width: 100%;
            padding: 28px;
            margin-top: 16px;
        }

        .button {
            margin-top: 16px;
        }
    }
}



@media (max-width: 428px) {
    .post {
        &_small_images {
            img {
                width: 70px;
            }
        }

        &_big_images {
            width: 320px;
        }
    }
}
