.main_image_container {
  width: calc(100vw - 56px);
  height: 281px;
}

.main_image {
  object-fit: cover;
  object-position: center;
  border-radius: 24px;
}

.subSlider {
  margin-top: 15px;
  //height: 70px;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.sub_image_container {
  width: calc((100vw - 101px) /3);
  height: 59px;
  border-radius: 20px;
  cursor: pointer;
}

.sub_image {
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
  cursor: pointer;
}