    @import "../../../styles/varrible";
@import "../../../styles/mixin";

.form {
    display: flex;
    flex-direction: column;
    width: 306px;
    box-sizing: border-box;

    &_text {
        color: $color-form-text;
        margin-top: 16px;
        width: 280px;
        @include medium-text;
    }

    .button {
        width: 100%;
    }

    .form_inline {
        flex-direction: row;
        background: $color-light;
        border-radius: 100px;
    }

    &__card {
        padding: 40px;
        background: $color-light;
        box-shadow: 0px 20px 40px rgba(192, 135, 22, 0.08);
        border-radius: 24px 0px 0px 24px;
        align-items: center;
        justify-content: space-between;
        width: 421px;
    }

    &__search {
        margin: auto;
        background: $color-light;
        padding: 4px;

        .button {
            width: auto;
            margin: 0;
        }
    }

    &__search_large {
        flex-direction: row;
        width: fit-content;
        align-items: center;
        margin-top: 31px;

        & > input {
            margin: 0 16px 0 0;
            box-shadow: none;
        }

        & > select {
            box-shadow: none;
            margin: 0 16px 0 0;
        }

        & > .button {
            margin-top: 0px;
            color: $color-light;
            background-color: $color-primary;
        }
    }
}

@include xl {
    .form__search {
        width: fit-content;
        border-radius: 100px;
        flex-direction: row;

        .button {
            border-radius: 0px 100px 100px 0px;
        }
    }

    .form {
        .button {
            max-width: 341px;
        }
    }

    .form__card {
        margin: 52px auto 135px;
    }
}

@include lg {
    .form__search {
        width: fit-content;
        border-radius: 100px;
        flex-direction: row;

        .button {
            border-radius: 0px 100px 100px 0px;
        }
    }

    .form {
        .button {
            max-width: 306px;
        }
    }

    .form__card {
        margin: 52px auto 135px;
    }
}

@include md {
    .form__search {
        flex-direction: column;
        max-width: 306px;
        border-radius: 0;

        .button {
            border-radius: 0;
        }
    }

    .form {
        margin: 0 auto;
        max-width: 860px;

        .button {
            max-width: 306px;
        }
    }

    .form__card {
        margin: 0 auto 135px;
        border-top: 0;
    }
}

@include sm {
    .form__search {
        flex-direction: column;
        width: 100%;
        border-radius: 0;

        input {
            border-radius: unset !important;
        }
        .button {
            border-radius: 0;
        }
    }

    .form {
        width: 100%;

        .button {
            max-width: 1005;
        }
    }

    .form__card {
        margin: 0 auto 135px;
        border-radius:unset;
        box-shadow:unset;
    }
}