@import "../../../../styles/mixin";
@import "../../../../styles/varrible";

.faq_list {
    width: 1024px;
    margin: 0 auto 80px;

    .faq_list_item {
        width: 100%;
        border: 1px solid #E5E5E5;
        border-radius: 2px;
        box-sizing: border-box;

        &:first-child {
            margin-top: 40px;
        }

        &:last-child {
        }

        &_content {
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }

        &_icon {
            border: 1px solid #E5E5E5;
            border-radius: 8px;
            box-sizing: border-box;
            height: 24px;
            width: 24px;
            line-height: 24px;
        }
    }
}

.medium_text {
    border-top: 1px solid #E5E5E5;
    text-align: left;
    padding: 20px;
}

.section_header {
    margin-bottom: 20px
}

.contact_us_text {
    @include medium-text;
    color: $color-additiona;
    margin: 0 auto;
    width: 276px;
}

.button {
    margin: 16px 0 40px;
}