.faq_list_item {
    width: 100%;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    box-sizing: border-box;
    &:first-child {
        margin-top:40px;
    }

    &:last-child {
    }

    &_content {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    &_icon {
        padding: 5px;
        border: 1px solid #E5E5E5;
        border-radius: 8px;
    }
}

.medium_text {
    border-top: 1px solid #E5E5E5;
    text-align: left;
    padding: 20px;
}