@import "../../../../styles/mixin";
@import "../../../../styles/varrible";

.faq_list {

    .faq_list_item {
        width: 100%;
        border: 1px solid #E5E5E5;
        border-bottom: none;
        border-radius: 2px;
        box-sizing: border-box;
        cursor: pointer;

        &:first-child {
            border-radius: 16px 16px 0px 0px;
        }

        &:last-child {
            border-radius: 0px 0px 16px 16px;
            border-bottom: 1px solid #E5E5E5;
        }

        &_content {
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }

        &_icon {
            border: 1px solid #E5E5E5;
            border-radius: 8px;
            box-sizing: border-box;
            height: 24px;
            width: 24px;
            line-height: 26px;
        }
    }
}

.medium_text {
    border-top: 1px solid #E5E5E5;
    animation: anim 1s ease-in;
    text-align: left;
    padding: 20px;
}

.section_header {
    margin-bottom: 20px
}

.contact_us_text {
    @include medium-text;
    color: $color-additiona;
    margin: 0 auto;
    width: 276px;
}

.button {
    margin: 16px 0 40px;
}


@keyframes anim {
    from {
        max-height:0;
        opacity: 0
    }

    to {
        max-height: 500px;
        opacity: 1
    }
}

@include xl {
    .faq_list {
        margin: 40px auto 80px;
        width: 1024px;
    }
}

@include lg {
    .faq_list {
        margin: 40px auto 80px;
        width: 880px;
    }
}

@include md {
    .faq_list {
        margin: 40px auto;
        width: 100%;
    }
}

@include sm {
    .faq_list {
        margin: 40px auto 16px;
        width: 100%;
    }
}