@import "../../../../styles/varrible";
@import "../../../../styles/mixin";

.contact_form {
    background-color: $color-primary;
    background-image: url("../../../../public/contact-us.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 30px 90px;

    &_content {
        display: flex;
        justify-content: space-around;
        align-items: end;
    }

    .section_header {
        margin-top: 0;
        text-align: left;
    }

    .medium_text {
        margin-top: 20px;
        text-align: left;
    }
}
.contact_form__bottom {
    margin-bottom: -40px;
}

@include xl {
    .contact_form {
        padding: 80px 30px 90px;

        .medium_text {
            width: 500px;
        }
    }
}

@include lg {
    .contact_form {
        padding: 80px 30px 90px;

        .medium_text {
            width: 500px;
        }
    }
}

@include md {
    .contact_form {
        padding: 40px 30px;

        &_content {
            flex-direction: column;
        }

        &_text_block{
            margin: 0 auto;
        } 
        .medium_text {
            width: 500px;
            margin-bottom: 40px;
        }
    }
}

@include sm {
    .contact_form {
        padding: 40px 30px;

        &_content {
            flex-direction: column;
        }

        &_text_block {
            margin: 0 auto;
        }

        .medium_text {
            width: 345px;
            margin-bottom: 40px;
        }
    }
}