@import "../../../../styles/varrible";
@import "../../../../styles/mixin";

.contact_form {
    background-color: $color-primary;
    background-image: url("../../../../public/contact-us.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 88px 0 80px;

    @media (max-width: 950px) {
        padding: 60px 0;
    }

    @include mobile {
        padding: 40px 0;
    }

    &_content {
        max-width: 965px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 950px) {
            max-width: 500px;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    }

    .medium_text {
        margin-top: 20px;
        //text-align: left;
    }
}

.text_block {
    max-width: 500px;

    @media (max-width: 950px) {
        text-align: center;
        margin-bottom: 40px;
    }

    @include mobile {
        text-align: left;
    }

    &_header {
        margin-top: 0;
        text-align: left;

        @media (max-width: 950px) {
            text-align: center;
        }

        @include mobile {
            font-weight: bold;
            text-align: left;
        }
    }
}

.form {

    & button:hover {
        background-color: #fff;
        color: #000;
    }

    @media (max-width: 950px) {
        max-width: 306px;
    }

    @include mobile {
        max-width: 100%;
    }
}
