@import "../../../../styles/mixin";

.button {
    margin-left: auto;
}
.map_buttons {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 27px;

    .map_button {
        margin: 0 20px;
    }
}
@include md {
    .select {
        width: 31%;
    }
}

@include sm {
    .select {
        &:nth-child(1) {
            width: 100%;
        }

        &:nth-child(2) {
            width: 22%;
        }

        &:nth-child(3) {
            width: 35%;
        }

        &:nth-child(4) {
            width: 35%;
        }

        &:nth-child(5) {
            width: 48%;
        }

        &:nth-child(6) {
            width: 48%;
        }
    }
}