@import "../../../styles/varrible";
@import "../../../styles/mixin";

.footer_details_text {
    margin-top: 35px;
    line-height: 1.8;
}

.footer {
    &_header_container {
        border-top: 1px solid $color-border;
        padding: 35px 0;
        cursor: pointer;
    }

    &_header {
        overflow: hidden;
        text-align: left;
        @include card-header-text;
        color: $color-primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    //.medium_text {
    //    line-height: 1.8;
    //    margin-top: 35px;
    //    text-align: left;
    //}

    &_container {
        border-top: 1px solid $color-border;
        border-bottom: 1px solid $color-border;
    }

    &_additional_information {
        div {
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;

            @include mobile {
                flex-direction: column;
            }
        }

        padding: 20px 0 !important;

        @include mobile {
            padding: 28px 0 !important;
        }
    }

    &_list {
        display: flex;
        //flex-wrap: wrap;
        flex-direction: row;
        padding: 39px 0;

        @media (min-width: 601px) and (max-width: 1024px) {
            flex-wrap: wrap;
        }

        @include mobile {
            flex-wrap: wrap;
        }

        .footer_item {
            text-align: left;
            list-style: none;
            box-sizing: border-box;

            &:last-child {
                border-right: none;
                padding-right: 0;
            }

            &:first-child {
                padding-left: 0;
            }

            .small_section_header {
                color: $color-additiona;
                text-transform: uppercase;
                font-size: 12px;
                margin-bottom: 20px;
            }

            .medium_text {
                margin-bottom: 16px;

                a {
                    text-decoration: none;
                    color: $color-primary;
                    transition: 0.5s;

                    &:hover {
                        color: $color-submit;
                    }
                }
            }

            .footer_description {
                margin: 22px 0 33px;
                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 12px;
                line-height: 22px;
                color: $color-additiona;
            }

            .footer_social_links {
                span, a {
                    margin-right: 16px;

                    @media (min-width: 601px) and (max-width: 1024px) {
                        margin-right: 16px;
                    }
                }
            }
        }

        .footer_header {
            padding: 35px 0;
            text-align: left;
            border-top: 1px solid $color-border;
            border-bottom: 1px solid $color-border;
            @include card-header-text;
        }



        .footer_description {
            margin: 20px 0 32px;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 12px;
            line-height: 22px;
            color: $color-additiona;
        }
    }
}


.footer_item {
    padding: 0 69px;
    border-right: 1px solid $color-border;

    @include desktop {
        padding: 0 60px;
    }

    @include tablet {
        padding: 0 50px;
    }

    @media (min-width: 601px) and (max-width: 1024px) {
        flex: 0 1 50%;
        margin-bottom: 25px;
    }

    @include mobile {
        flex: 0 1 100%;
        padding: 28px 0 12px;
        //margin-bottom: 28px;
        border-right: none;
        border-bottom: 1px solid $color-border;
    }

    &:last-child {
        @include mobile {
            border-bottom: none;
            padding-bottom: 2px;
        }
    }

    &:first-child {
        flex: 0 1 400px;

        @include tablet {
            flex: 0 1 25%;
        }

        @media (min-width: 601px) and (max-width: 1024px) {
            flex: 0 1 50%;
        }

        @include mobile {
            flex: 0 1 100%;
            padding-bottom: 28px;
        }
    }


}

@include md {
    //.footer_item {
    //    padding: 0 10px;
    //    width: 50%;
    //}

    //.small_section_header {
    //    margin-top: 28px;
    //}

    .footer_additional_information {
        div {
            p {
                &:last-child {
                    margin-top: 16PX
                }
            }
        }
    }
}

@include sm {
    .footer_list {
        padding: 0;
    }
    .footer_item {
        //padding: 0 0 28px;
        //border-bottom: 1px solid $color-border;
        //width: 100%;

        //&:last-child {
        //    border-bottom: none;
        //}
    }

    .footer_additional_information {
        div {
            p {
                &:last-child {
                    margin-top: 16px;
                }
            }
        }
    }

    //.small_section_header {
    //    margin-top: 28px;
    //}
}

.footer_link {
    text-decoration: none;
}