@import '../../../../styles/mixin';

.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &_item {

        & > div {
            margin: 0;
        }
    }
}
.section_header {
    margin-bottom: 20px;
}

@include xl {
    .list {
        &_item {
            margin-top: 40px;

        }
    }
}

@include lg {
    .list {
        &_item {
            margin-top: 40px;
            max-width: calc(33% - 20px);
        }
    }
}

@include md {
    .list {
        &_item {
            margin: 40px auto 0;
        }
    }
}

@include sm {
    .list {
        &_item {
            margin: 40px auto 0;
        }
    }
}