@import '../../../../styles/mixin';

.contact_us {
    background-image: url("../../../../public/map-big.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    &_container {
        display: flex;
        justify-content: end;
    }

    &_info {
        margin-top: 80px;
        width: 460px;
        border: 1px solid #E5E5E5;
        box-sizing: border-box;
        border-radius: 24px;
        background-color: #fff;
        padding: 40px;
        text-align: left;

        &_content {
            padding-top: 10px;
        }
        &_text {
            margin-top: 16px;
            display: flex;

            svg {
                margin-right: 16px;
            }
        }
    }

    &_social_links {
        display: flex;
        margin: 28px 0;

        svg {
            margin-right: 16px;
        }
    }
}

.section_header {
    margin-top: 0;
}
@include xl {
    .contact_us {
        height: 556px;
    }
}

@include lg {
    .contact_us {
        height: 772px;
    }
}

@include md {
    .contact_us {
        height: 556px;
    }
}

@include sm {
    .contact_us {
        height: 772px;
    }
}
