.imgWrapper {
  position: relative;
  //height: 492px;
  height: auto;
  width: 100%;
  overflow: hidden;
  max-height: 80vh;
}

.img {
  border-radius: 24px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}