@import "../../../styles/varrible";
@import "../../../styles/mixin";

.toggler {
    padding: 4px;
    border-radius: 14px;
    display: flex;
    width: max-content;
    border: 1px solid $color-border;
    @include button-text;

    &_item {
        border-radius: 10px;
        color: $color-additiona;
        cursor: pointer;
        line-height: 15px;
        &.active {
            color: $color-light;
            background: $color-primary;
        }
    }

    &__fill {
        background: $color-light;

        .toggler_item {
            color: $color-primary;
            border: 1px solid none;

            &.active {
                color: $color-light;
            }
        }
    }
}

@include xl {
    .toggler {
        &_item {
            padding: 9px 36px;
        }
    }
}

@include lg {

    .toggler {
        &_item {
            padding: 9px 36px;
        }
    }
}

@include md {

    .toggler {
        &_item {
            padding: 9px 16px;
        }
    }
}

@include sm {
    .toggler {
        &_item {
            padding: 9px 16px;
        }
    }
}