@import '../../styles/mixin';

.container {
    text-align: center;
    margin: 0 auto;
    overflow-x: hidden
    
}
@include xl {
    .container {
        width: 1350px;
        padding: 0 48px;
    }
}

@include lg {
    .container {
        width: 980px;
        padding: 0 20px
    }
}

@include md {
    .container {
        width: 720px;
        padding: 0 44px;
    }
}

@include sm {
    .container {
        width: 372px;
        padding: 0px 20px;
    }
}