@import "../../../../styles/varrible";
@import "../../../../styles/mixin";


.main_page {
    background-image: url("../../../../public/main.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .main_sub_header {
        text-align: center;
        margin-bottom: 10px;
    }

    .main_header {
        font-family: 'Marcellus';
        font-style: normal;
        font-weight: 400;
        color: $color-light;
        text-align:  center;
    }

    .toggler {
        margin: 40px auto 16px;
    }

    .form {
        display: block;
        margin: 0 auto;
    }

    .medium_text {
        margin: 40px auto 16px;
        width: 290px;
        text-align: center;
    }
    &_search_container {
        position: relative;
    }
    &_search_modal {
        margin-top: 10px;
        padding: 11px 0;
        z-index: 1000;
        box-sizing: border-box;
        top: 50px;
        border-radius: 10px;
        max-height: 230px;
        overflow-y: auto;
        min-width: 220px;
        background-color: $color-light;
        position: absolute;
        &_item > a {
            font-family: 'Montserrat';
            font-style: normal;
            box-sizing: border-box;
            display: block;
            width: 100%;
            font-size: 14px; 
            text-decoration: none;
            color: $color-primary;
            height: 28px;
            line-height: 28px;
            padding: 0 12px;

            &:hover {
                background-color: #F6F6F6;
                font-weight: bold;
            }
        }
    }
    &_search_select_modal {
        padding: 4px 0;
        margin-top: 10px;
        background-color: $color-light;
        top: 50px;
        width: 573px;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        border-radius: 16px;
        li {
            width: 50%;
            padding: 0 12px;
            padding-left: 12px;
            box-sizing: border-box;
            p {   
                width: 100%;
            }
            div {
                width: 100%;
                ul {
                    width: 100%;
                    li {
                        padding: 6px 12px;
                        width: 100%
                    }
                }
            }
        }
    }
}


@include xl {

    .search {
        & input {
            border-right: none;
            height: 100%;
        }
    }

    .main_page {
        padding: 121px 0 105px;

        .main_header {
            font-size: 36px;
            line-height: 1.26;
        }

        .medium_text {
            width: 290px
        }
    }
}
@include lg {

    .search {
        & input {
            border-right: none;
            height: 100%;
        }
    }

    .main_page {
        padding: 121px 0 105px;

        .main_header {
            font-size: 32px;
            line-height: 1.26;
        }

        .medium_text {
            width: 290px
        }
        
    }
}
.button_wrapper {
    text-align: center;
}
@include md {
    .search {
        border-radius: 14px;
        width: 306px;
    }

    .main_page {
        padding: 106px 0 107px;

        .main_header {
            font-size: 28px;
            line-height: 41.26;
        }

        .medium_text {
            width: 290px
        }
        &_search_modal {
            min-width: 306px;
            top: 42px;
            border-top: 0;
            margin-top: 0px;
            margin-left: -4px;
        }
        
        &_search_select_modal {
            margin-left: -4px;
            border-top: 0px;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            top: 70px;
            width: 306px;
            li {
                width: 100%;
            }
        }
    }
}

@include sm {
    .search {
        width: 306px;
    }

    .main_page {
        padding: 106px 0 107px;

        .main_header {
            font-size: 24px;
            line-height: 1.26;
        }

        .medium_text {
            width: 290px
        }


        .toggler_container {
            width: 100%;
            overflow: scroll;
        }
        
        &_search_modal {
            min-width: 306px;
            top: 44px;   
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            margin-top: 0px;
            margin-left: -4px;
        }

        &_search_select_modal {
            margin-left: -4px;
            border-top: 0px;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            top: 70px;
            width: 306px;
            li {
                width: 100%;
            }
        }
    }
}