@import "../../../../styles/varrible";
@import "../../../../styles/mixin";

.main_page {
    background-image: url("../../../../public/main.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .main_header {
        font-family: 'Marcellus';
        font-style: normal;
        font-weight: 400;
        color: $color-light
    }

    .toggler {
        margin: 40px auto 16px;

        &_container {
            width: 100%;
            overflow: scroll;
        }
    }

    .form {
        display: block;
        margin: 0 auto;
    }

    .medium_text {
        margin: 40px auto 16px;
        width: 230px
    }
}


@include xl {
    .main_page {
        padding: 121px 0 105px;

        .main_header {
            font-size: 66px;
            line-height: 83px;
        }

        .medium_text {
            width: 230px
        }
    }
}
@include lg {
    .main_page {
        padding: 121px 0 105px;

        .main_header {
            font-size: 48px;
            line-height: 63px;
        }

        .medium_text {
            width: 230px
        }
    }
}
@include md {

    .main_page {
        padding: 106px 0 107px;

        .main_header {
            font-size: 32px;
            line-height: 40px;
        }

        .medium_text {
            width: 276px
        }
    }
}

@include sm {
    .main_page {
        padding: 106px 0 107px;

        .main_header {
            font-size: 32px;
            line-height: 40px;
        }

        .medium_text {
            width: 276px
        }
    }
}