@import "../../../../styles/varrible";
@import "../../../../styles/mixin";

.main_page {
    background-image: url("../../../../public/main.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .main_sub_header {
        text-align: center;
    }

    .main_header {
        font-family: 'Marcellus';
        font-style: normal;
        font-weight: 400;
        color: $color-light;
        text-align:  center;
    }

    .toggler {
        margin: 40px auto 16px;
    }

    .form {
        display: block;
        margin: 0 auto;
    }

    .medium_text {
        margin: 40px auto 16px;
        width: 276px;
        text-align: center;
    }
    &_search_container {
        font-family: 'Marcellus';
        font-style: normal;
        position: relative;
    }
    &_search_modal {
        margin-top: 10px;
        top: 50px;
        border-radius: 10px;
        max-height: 130px;
        overflow-y: scroll;
        width: 220px;
        background-color: $color-light;
        position: absolute;
        &_item > a {
            font-family: 'Marcellus';
            font-style: normal;
            box-sizing: border-box;
            display: block;
            width: 100%;
            font-size: 14px; 
            text-decoration: none;
            color: $color-primary;
            height: 28px;
            line-height: 28px;
            padding-left: 10px;

            &:hover {
                background-color: #F6F6F6;
                font-family: 700;
            }
        }
    }
    &_search_select_modal {
        margin-top: 10px;
        background-color: $color-light;
        top: 50px;
        width: 573px;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        border-radius: 16px;
        li {
            width: 50%;
            padding: 0 12px;
            padding-left: 12px;
            box-sizing: border-box;
            div {
                width: 100%;
            }
        }
    }
}
@include xl {
    .main_page {
        padding: 121px 0 105px;

        .main_header {
            font-size: 66px;
            line-height: 83px;
        }

        .medium_text {
            width: 276px
        }
    }
}
@include lg {
    .main_page {
        padding: 121px 0 105px;

        .main_header {
            font-size: 48px;
            line-height: 63px;
        }

        .medium_text {
            width: 276px
        }
    }
}
.button_wrapper {
    text-align: center;
}
@include md {
    .search {
        border-radius: 14px;
        width: 306px;
    }

    .main_page {
        padding: 106px 0 107px;

        .main_header {
            font-size: 32px;
            line-height: 40px;
        }

        .medium_text {
            width: 276px
        }
    }
}

@include sm {
    .search {
        width: 306px;
    }

    .main_page {
        padding: 106px 0 107px;

        .main_header {
            font-size: 32px;
            line-height: 40px;
        }

        .medium_text {
            width: 276px
        }


        .toggler_container {
            width: 100%;
            overflow: scroll;
        }
    }
}