@import "../../../styles/varrible";
@import "../../../styles/mixin";
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

    &_item {
        width: 10px;
        height: 10px;
        box-sizing: border-box;
        border: 2px solid $color-additiona;
        border-radius: 100px;
        margin: 0 8px;
        cursor: pointer;

        &.active {
            color: $color-light;
            background-color: $color-primary;
            border-color: $color-primary;
        }
    }

    .arrow {
        color: $color-additiona;
        border: none;
        height: 16px;
        cursor: pointer;

        &:last-child {
            margin-left: 8px;
        }

        &:first-child {
            margin-right: 8px;
        }
    }

    &.numerical {
        border: 1px solid $color-border;
        padding: 4px;
        border-radius: 14px;

        .pagination_item {
            @include button-text;
            transition: 1s;
            margin: 0 2px;
            padding: 9px 16px;
            border-radius: 10px;
            border-color: transparent;
            width: unset;
            height: unset;

            &:last-child {
                margin-right: 0;
            }

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                color: $color-submit;
            }
            &.active {
                &:hover {
                    color: $color-light;
                }
            }
        }
    }
}


@include xl {
    .pagination {
        margin: 45px auto 0;
    }
}
@include lg {
    .pagination {
        margin: 45px auto 0;
    }
}

@include md {
    .pagination {
        margin: 28px auto 0;
    }
}

@include sm {
    .pagination {
        margin: 28px auto 0;
    }
}