@import "../../../../styles/varrible";
@import "../../../../styles/mixin";

.avatar {
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    &_image {
        width: 67px;
        height: 67px;
        border-radius: 50%;
        margin-right: 16px;
    }

    &_name {
        @include medium-text;
        font-weight: 700;
        color: $color-primary
    }

    &_job {
        margin-top: 4px;
        @include small-text;
        color: $color-additiona;
    }
}
