@import "../../../../styles/varrible";

.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;

    &_item {
        margin: 20px 0;

        .card {
            margin: 0 0 40px;
        }

        & > div {
            margin: 0;
        }
    }

    &_text_container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &_toggler {
        border: 1px solid $color-border;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;

        &_item {
            padding: 10px;
            cursor: pointer;

            svg {
                transition: 1s;
            }

            &:first-child {
                border-right: 1px solid $color-border;
            }

            &:hover {
                svg {
                    fill: $color-primary;
                }
            }
        }
    }
}
