@import "../../../styles/varrible";

.mark {
    position: relative;

    &_text {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: $color-light;
        text-align: center;
        font-size: 14px;
        font-family: Montserrat;
        font-weight: 700;
        line-height: normal;
    }
}
