.carousel {
    overflow: hidden;
    position: relative;

    &_container {
        display: flex;
        transition: all 250ms linear;
        overflow: visible;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    &_arrow {
        position: absolute;
        top: 115px;

        &__left {
            left: -40px;
        }

        &__right {
            right: -40px;
        }
    }

    &__center {
        overflow: visible;
        width: 962px;
        margin: 0px auto;
    }
}
