@import "../../../styles/varrible";
@import "../../../styles/mixin";

.select {
    max-width: 306px;
    width: 100%;
    margin: 8px 0;
    border: 1px solid $color-border;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.12);
    padding: 11px 12px;
    border-radius: 10px;
    color: $color-placeholder;
    line-height: 18px;
    box-sizing: border-box;
    @include small-text;

    &:after {
        content: "";
        display: block;
        border: 20px solid transparent;
        border-top: 20px solid $color-border;
        padding-right: 13px;
    }

    &:focus {
        .select:after {
            border: 20px solid transparent;
            border-bottom: 20px solid $color-border
        }
    }

    &_option {
        padding: 0 12px;
        color: $color-primary;
    }
}
