@import "../../../styles/varrible";
@import "../../../styles/mixin";

.select {
    position: relative;
    max-width: 306px;
    width: fit-content;
    margin: 8px 0;
    border: 1px solid $color-border;
    padding: 11px 12px;
    border-radius: 10px;
    box-sizing: border-box;

    &_value {
        @include small-text;
        color: $color-placeholder;
        line-height: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: max-content;

        &:focus {
            .select:after {
                border: 20px solid transparent;
                border-bottom: 20px solid $color-border
            }
        }
    }

    &_options_list {
        position: absolute;
        border-radius: 10px;
        border: 1px solid $color-border;
        left: 0;
        top: 104%;
        background: $color-light;
        text-align: left;
        z-index: 2;

        &_item {
            @include small-text;
            color: $color-placeholder;
            line-height: 18px;
            padding: 6px 12px;
            width: max-content;

            &.active {
                color: $color-primary;
                font-weight: 700;
            }

            &:hover {
                background-color: #F6F6F6;
            }
        }
    }
}
