@import "../../../../styles/varrible";
@import "../../../../styles/mixin";

.list {
    //display: flex;
    //justify-content: space-between;
    //flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 306px));
    margin-top: 40px;
    gap: 40px;

    &.view_list {
        grid-template-columns: repeat(2, minmax(500px, 628px));

        @include tablet {
            grid-template-columns: minmax(500px, 628px);
        }
    }

    @include tablet {
        grid-template-columns: repeat(3, minmax(200px, 306px));
    }

    @include sm {
        grid-template-columns: repeat(2, minmax(200px, 306px));
    }

    @include mobile {
        grid-template-columns: repeat(2, minmax(178px, 306px));
        gap: 16px;
    }

    &_item {

        .card {
            //margin: 0 0 40px;
        }

        & > div {
            margin: 0;
        }
    }

    &_text_container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &_toggler {
        border: 1px solid $color-border;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;

        &_item {
            padding: 10px;
            cursor: pointer;

            svg {
                transition: 1s;
            }

            &:first-child {
                border-right: 1px solid $color-border;
            }

            &:hover {
                svg {
                    fill: $color-primary;
                }
            }
        }
    }
}


@include md {
    .pagination {
        margin: 0 auto;
    }
}

@include sm {
    .pagination {
        margin: 0 auto;
    }
}
