@import "../../../styles/mixin";
@import "../../../styles/varrible";

.section_padding {
    background: linear-gradient(0deg, rgba(221, 221, 127, 0.08) 0%, rgba(221, 221, 127, 0.08) 100%), #FFF;
}

.section_header {
    color: $color-submit;
    text-align: center;
    font-family: Marcellus;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
}

.thank_you {
    &_header {
        @include card-header-text;
        margin: 29px auto;
        width: 372px;
        line-height: 30px;
    }
}

.medium_text {
    margin-bottom: 29px;
}

.button {
    display: inline-block;
}

@include xl {
    .section_padding {
        padding: 114px 0;
    }
}

@include lg {
    .section_padding {
        padding: 114px 0;
    }
}

@include md {
    .section_padding {
        padding: 80px 0;
    }
}

@include sm {
    .section_padding {
        padding: 80px 0;
    }
}