@import "../../../../styles/varrible";
@import "../../../../styles/mixin";
.enquire {
    border-color: $color-border;
    border-width: 2px 0px;
    border-style: solid;
    background: rgba(221, 221, 127, 0.08);

    .notebook {
        display: flex;
        justify-content: space-between;

        &_item {
            .medium_text {
                width: 414px;
                text-align: left;
                margin-top: 92px;
            }
        }
    }

    &_image {
        margin-top: 40px;
        background-image: url("../../../../public/enquire.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0px 20px 40px rgba(192, 135, 22, 0.12);
    }

    .section_header {
        text-align: right;
    }
}

@include xl {
    .enquire {
        .notebook {
            &_item {
                width: 50%;

                &:first-child {
                    padding-right: 28px;
                }

                &:last-child {
                    border-left: 4px dashed $color-submit;
                    padding-left: 32px;
                }

                .medium_text {
                    width: 414px;
                }
            }
        }

        &_image {
            border-radius: 0px 24px 24px 0px;
            width: 421px;
            height: 408px;
        }
    }
}

@include lg {
    .enquire {
        .notebook {
            &_item {
                width: 50%;

                &:first-child {
                    padding-right: 28px;
                }

                &:last-child {
                    border-left: 4px dashed $color-submit;
                    padding-left: 32px;
                }

                .medium_text {
                    width: 414px;
                }
            }
        }

        &_image {
            border-radius: 0px 24px 24px 0px;
            width: 421px;
            height: 408px;
        }
    }
}

@include md {
    .enquire {
        .notebook {
            flex-direction: column-reverse;

            &_item {
                width: 100%;

                .section_header {
                    display: none;
                }

                .medium_text {
                    width: 100%;
                    text-align: center;
                }
            }
        }

        &_image {
            border-radius: 16px 16px 0px 0px;
            width: 420px;
            height: 189px;
            margin: 40px auto 0;
        }
    }
}

@include sm {
    .enquire {
        .notebook {
            flex-direction: column-reverse;

            &_item {
                width: 100%;

                .medium_text {
                    width: 100%;
                    text-align: center;
                }
            }
        }
        &_image {
            border-radius: 16px 16px 0px 0px;
            width: 345px;
            height: 189px;
        }
    }
}