.section {
  height: 430px;
  padding-bottom: 32px;
}

.container {
  position: relative;
}

//.carousel_wrapper {
//  width: calc(100vw - 20% - 48px);
//  max-width: 1463px;
//  height: 335px;
//  margin-top: 40px;
//  position: absolute;
//  left: 20%;
//  overflow: hidden;
//
//  @media (max-width: 480px) {
//    width: 100%;
//    margin: 0 auto;
//    position: static;
//    margin-top: 40px;
//  }
//}

.carousel_wrapper {
  width: 100%;
  //max-width: 1463px;
  height: 335px;
  margin-top: 40px;
  //position: absolute;
  //left: 20%;
  overflow: hidden;

  @include md {
    //height: 405px;

    & div[class^="Person"] {
      margin-top: 0;
    }
  }

  @media (max-width: 480px) {
    width: 100%;
    margin: 0 auto;
    position: static;
    margin-top: 40px;
    height: 290px;
  }
}

//.swiper_slide {
//    width: fit-content !important;
//    margin-right: 0 !important;
//}
