.section {
  height: 430px;
  padding-bottom: 32px;
}

.container {
  position: relative;
}

.carousel_wrapper {
  width: calc(100vw - 20% - 48px);
  max-width: 1463px;
  height: 335px;
  margin-top: 40px;
  position: absolute;
  left: 20%;
  overflow: hidden;

  @media (max-width: 480px) {
    width: calc(100% - 56px);
    margin: 0 auto;
    position: static;
    margin-top: 40px;
  }
}
.swiper_slide {
    width: fit-content !important;
    margin-right: 0 !important;
}
