@import "../../../styles/varrible";
@import "../../../styles/mixin";

.header {
    padding: 10px 0px;
    border-bottom: 1px solid $color-border;

    &_container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navbar {
            display: flex;
            align-items: center;

            &_item {
                a {
                    color: $color-primary;
                    @include button-text;
                    text-decoration: none;
                    padding: 5px 16px;
                    transition: 0.5s;
                    border-radius: 100px;


                    &:hover {
                        color: $color-submit;
                    }
                }

                &.active {
                    a {
                        color: $color-submit;
                        background-color: $color-primary;
                    }
                }

                &:last-child {
                    padding-right: 0;
                }

                &.navbar_search {
                    &:before {
                        content: "";
                        display: block;
                        width: 1px;
                        height: 100%;
                        background: $color-border;
                    }
                }
            }
        }
    }
}
.navbar_icons {
    justify-content: space-between;
    display: flex;
    align-items: center;

    .burger_icons {
        margin-left: 28px;

    }
}
@include xl {
    .navbar {
        &_item {
            padding-right: 48px;
        }

        &:last-child {
            padding-right: 0;
            padding-left: 45px;
        }
    }
}

@include lg {
    .navbar {
        &_item {
            padding-right: 20px;

            &:last-child {
                padding-right: 0;
                padding-left: 20px;
            }
        }
    }
}

@include md {
    .navbar {
        &_item {
            padding-right: 20px;

            &:last-child {
                padding-right: 0;
                padding-left: 20px;
            }
        }
    }
}

@include sm {
    .container {
        width: 360px;
        padding: 0 32px;
    }
}