@import "./varrible";
@import "./mixin";

.sub_header {
    @include medium-text;
    color: $color-light;
}

.medium_text {
    @include medium-text;
    color: $color-primary;

    ul {
        padding-left: 15px;
        list-style: none !important;

        li::before {
            content: "\2022";
            color: #DDDE70;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }
    }

    &__light {
        color: $color-light;
    }

    &__aditional {
        color: $color-additiona
    }

    &__bold {
        font-weight: 700;
    }
}


.small_section_header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    color: $color-primary;

    &__light {
        color: $color-light;
    }
}

.section_header {
    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    color: $color-primary;
    text-align: center;

    &__light {
        color: $color-light;
    }
}
.text__underlining {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    transition: background-size .3s;
    cursor: pointer;
    &:hover {
        color: $color-submit;
        background-size: 0% 1px;
    }
}
.owerflow_hidden {
    overflow: hidden;
}
.d_flex_between {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.m_8_2 {
    margin: 80px 0 20px;
}
.t_l {
    text-align: left !important;
}

.icon__submit {
    path {
        fill: $color-submit;
    }

    rect {
        fill: $color-submit;
    }
}

.icon__hover {
    cursor: pointer;

    path {
        transition: 0.5s;
    }

    &:hover {
        path[fill="#DDDE70"] {
            fill: $color-primary;
        }
    }
}

.link_unset {
    color: unset;
    text-decoration: unset;
}
.body {
    overflow-x: clip;
}
*::selection {
    background-color: $color-submit;
}
@include xl {
    .small_section_header {
        font-size: 21px;
    }

    .section__padding {
        padding: 80px 0;
    }

    .section_header {
        font-size: 38px;
    }
}

@include lg {
    .small_section_header {
        font-size: 21px;
    }

    .section__padding {
        padding: 80px 0;
    }

    .section_header {
        font-size: 38px;
    }
}

@include md {
    .small_section_header {
        font-size: 16px;
    }

    .section__padding {
        padding: 40px 0;
    }

    .section_header {
        font-size: 34px;
    }

    .medium_text {
        font-size: 14px;
    }
}

@include sm {
    .small_section_header {
        font-size: 16px;
    }

    .section__padding {
        padding: 40px 0;
    }

    .section_header {
        font-size: 32px;
    }

    .medium_text {
        font-size: 14px;
    }
}

.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    box-sizing: border-box !important;
    border: 2px solid $color-additiona !important;
    border-radius: 100px !important;
    margin: 0 8px !important;;
    cursor: pointer !important;
    background-color: transparent  !important;
    opacity: 1  !important;

    &-active {
        color: $color-light !important;
        background-color: $color-primary !important;
        border-color: $color-primary !important;
    }
}

.reviewsSwiper {

    & .swiper-wrapper {
        //transition-duration: 0ms;
        //transform: translate3d(539.005px, 0px, 0px) !important;
    }

    .swiper-pagination {
        bottom: 30px !important;
        left: calc(-20% + 48px) !important;

        @media (max-width: 480px) {
            bottom: 50px !important;
            left: 50% !important;
            transform: translateX(-50%);
        }
    }

    & .swiper-button-prev {
        left: 0px;
    }

    & .swiper-button-prev:after {
        content: url("../public/arrow-left.svg");
    }

    & .swiper-button-next {
        right: -50px;
    }

    & .swiper-button-next:after {
        content: url("../public/arrow-right.svg");
    }

    .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
        opacity: 1;
        cursor: pointer;
    }

    & .swiper-wrapper {
        //transform: translate3d(20px, 0px, 0px) !important;
    }
}

.postMainSwiper {
    &.swiper {
        overflow: clip;
    }
}

.postMainThumbSwiper {
    &.swiper {
        overflow: clip;
    }

    .swiper-wrapper {
        margin-bottom: 20px;
    }
    .swiper-pagination {
        position: relative;
        top: 0 !important;
        z-index: 99;
    }

    & .swiper-button-prev {
        left: 60px;
        top: 80px;
        z-index: 99;
    }

    & .swiper-button-prev:after {
        content: url("../public/arrow-left.svg");
    }

    & .swiper-button-next {
        right: 60px;
        top: 80px;
        z-index: 99;
    }

    & .swiper-button-next:after {
        content: url("../public/arrow-right.svg");
    }

    .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
        opacity: 1;
        cursor: pointer;
    }
}

.newBuildingSwiper {
    &.swiper {
        overflow: clip;

        @include mobile {
            padding-bottom: 20px;
        }
    }

    & .swiper-button-prev {
        left: 50%;
        transform: translateX(-55px);
        top: 438px;
        z-index: 99;

        @include mobile {
            top: 348px;
            left: calc(50% - 10px);
        }
    }

    & .swiper-button-prev:after {
        content: url("../public/arrow-left.svg");
    }

    & .swiper-button-next {
        right: 100px;
        top: 438px;
        left: 50%;
        transform: translateX(30px);
        z-index: 99;

        @include mobile {
            top: 348px;
            left: calc(50% + 10px);
        }
    }

    & .swiper-button-next:after {
        content: url("../public/arrow-right.svg");
    }

    .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
        opacity: 1;
        cursor: pointer;
    }
}

.streetViewSwiper {
    &.swiper {
        overflow: clip;
        padding-bottom: 40px;
    }

    & .swiper-pagination {
        //bottom: -20px !important;
    }
}

.imagesSwiper {
    & .swiper-wrapper {
        max-height: 80vh;
    }
    &.swiper {
        margin: 30px 0 0;
        width: 50vw;
        overflow: clip;
        max-height: 80vh;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
    }

    & .swiper-button-prev:after {
        content: url("../public/arrow-left.svg");
    }

    & .swiper-button-next:after {
        content: url("../public/arrow-right.svg");
    }

    .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
        opacity: 1;
        cursor: pointer;
    }
}
.mySwiper {
    &.swiper {
        width: 962px;

        @include md {
            max-width: 780px;
        }

        @include sm {
            max-width: calc(100vw - 56px);
        }
    }
    //.swiper-slide {
    //    width: 400px;
    //    background-color: #000;
    //}
}